<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hackathon.com.museuimpressoes" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".MuseumApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/Facebook_App_ID" />

        <activity
            android:name=".DispatchActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".DetailsActivity"
            android:label="@string/title_activity_details"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".PieceGalleryActivity"
            android:label="@string/title_activity_piece_gallery"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".ImageDetailsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_image_details"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/tittle_activity_signup"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".CommentsActivity" >
        </activity>
        <activity
            android:name=".ChooseGalleryActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".VideoActivity"
            android:label="@string/title_activity_video"
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>
    </application>

</manifest>
